$background-blue: #002233;
$background-white: #e2e7ef;
$white: #dbdbdb;
$blue: #2A9D8F;
$blue2: #498a96;
$grey: #bbbaba;
$light-grey: #d3d3d3;
$shadow: #000000b8;
$orange: #F4A261;
$dark-orange: #E76F51;